@font-face {
    font-family: "OpenSans-L";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSans-B";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-R";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

section {
    text-align: center;
}

.content-article {
    padding-top: 50px;
}

.content-article-1 {
    border-bottom: 3px solid #212836;
}

.title {
    font-family: 'OpenSans-L';
    font-size: 30px;
    text-transform: uppercase;
}

.text {
    font-family: 'OpenSans-R';
    font-size: 14px;
    padding: 15px 40px;
}

article {
    min-height: 250px;
}

.article-1 .img-content {
    margin-bottom: 3px;
}

.img-content {
    background-color: #212836;
    display: flex;
    justify-content: center;
}

.right::before {
    content: url('../medias/arrow-right.svg');
    position: absolute;
    left: -12px;
    top: 108px;
}

.img-content img {
    width: 100px;
}

.left::before {
    content: url('../medias/arrow-right.svg');
    transform: rotateY(180deg);
    position: absolute;
    right: -12px;
    top: 108px;
    z-index: 10;
}

.orange {
    background: linear-gradient(rgb(254, 233, 202), rgb(238, 162, 124), rgb(92, 79, 32));
}

.icons-group {
    display: flex;
    justify-content: space-around;
}

.icons img {
    width: 30px;
    text-align: center;
}

.team {
    display: flex;
    justify-content: space-around;
}

.perso-1 img {
    width: 50px;
}

.section-three {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

@media (max-width: 575px) {
    .content-article-1 {
        border-bottom: none;
    }
    .mobile {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .right::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 20px 0 20px;
        border-color: #DD6319 transparent transparent transparent;
        left: 50%;
        top: -15px;
        margin-left: -20px;
    }
    .img-content img {
        width: 100px;
        height: 250px;
    }
    .left::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 20px 0 20px;
        border-color: #DD6319 transparent transparent transparent;
        left: 50%;
        top: -15px;
        margin-left: -20px;
        z-index: 10;
    }
    .orange {
        background: linear-gradient(rgb(254, 233, 202), rgb(238, 162, 124), rgb(92, 79, 32));
    }
    .icons-group {
        display: flex;
        justify-content: space-around;
    }
    .icons img {
        width: 30px;
        text-align: center;
    }
    .team {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .perso-1 img {
        width: 50px;
    }
    .section-three {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
}